@media only screen and (min-width: 1920px) {


}

@media (max-width: 1399.98px) {

}

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
}

@media (max-width: 1199.98px) {
  .display-3 {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
  }
  
  .secH {
    font-size: 44px;
    line-height: 52px;
  }
  
  .therdH {
    font-size: 26px;
    line-height: 40px;
  }

  .formSection .container>.row{
    row-gap: 40px;
  }

  .mapSection iframe{
    aspect-ratio: 3/4 ;
    margin-top: -150px;
  }

}

@media (max-width: 991.98px) {
  .display-3 {
    font-size: 44px;
    font-weight: 600;
    line-height: 54px;
  }
  
  .secH {
    font-size: 40px;
    line-height: 52px;
  }
  
  .therdH {
    font-size: 24px;
    line-height: 40px;
  }

.navbar-nav {
  gap: 4px;
}


.navbar-expand-lg .navbar-nav .nav-link{
  padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.miniHeader{
  display: none;
}

.Banner .container>.row{
  flex-direction: column-reverse;
  row-gap: 40px;
}

.mapSection iframe{
  aspect-ratio: 1 ;
  margin-top: -150px;
}

.mapSection .container>.row,.whyChoose .container>.row{
  row-gap: 40px;
}

}



@media (max-width: 767.98px) {
  .display-3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
  }
  
  .secH {
    font-size: 34px;
    line-height: 52px;
  }
  
  .therdH {
    font-size: 22px;
    line-height: 40px;
  }

  .footer.defaultPadding{
    padding: 34px 0;
  }
  .footer .secH{
    text-align: center;
    margin-bottom: 24px;
  }
  .footer .container>.row{
    justify-content: center;
    row-gap: 40px;
  }
  
  .footer .social-icons{
  justify-content: center;
  }
  .footer .exploreLinks ul li{
  text-align: left;
  }

  .footer-brand{
    display: table !important;
    margin: auto;
  }
  .footer {
    text-align:center;
  }
  .footer .locationLink{
    max-width: 200px;
  }
  .footer ul:not(.footer .exploreLinks1 ul) {
    max-width: 257px;
    margin: auto;
  }
  .footer .exploreLinks1 ul{
    max-width: 352px; 
  }
  .footer .exploreLinks1 ul li{
    text-align: left;
    }
  .footer .exploreLinks1 ul {
    margin: auto;
  }
  .footer .exploreLinks ul {
    width: 143px ;
    max-width: 143px !important;
    margin: auto;
  }



}



@media (max-width: 575.98px) {

 
}

