<div class="container">
  <div class="row">
    <!-- Company Info -->
    <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
      <a class="footer-brand" href="index.html">
        <img src="image/BioLab.svg" alt="BioLab">
      </a>
      <p>
        About Us At BioLab, we are dedicated to providing accurate and efficient diagnostic services. Our state-of-the-art laboratory ensures precision in every test, helping patients and doctors make informed health decisions.
      </p>
    </div>

    <div class="col-sm-6 col-lg-auto mb-4 mb-md-0 exploreLinks">
      <h5 class="fourthH centerStyle">Quick Links</h5>
      <ul>
        <li>
          <a href="index.html"><i class="fa-solid fa-angles-right"></i>Home</a>
        </li>
        <li>
          <a href="about.html"><i class="fa-solid fa-angles-right"></i>About</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i>Our Doctors</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i>Tests</a>
        </li>
        <li>
          <a href="contactUs.html"><i class="fa-solid fa-angles-right"></i>Contact</a>
        </li>
       
      </ul>
    </div>

    <div class="col-md-6 col-lg-auto mb-4 mb-md-0 exploreLinks1">
      <h5 class="fourthH centerStyle">Our Services</h5>
      <ul>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i> Routine Blood Tests</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i> Genetic Testing</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i> Pathology & Microbiology</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i> Radiology & Imaging Diagnostics</a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-angles-right"></i> Specialized Health Screenings</a>
        </li>
      </ul>
    </div>

    <!-- Contact Info -->
    <div class="col-lg-3 col-sm-6 emailSec">
      <h5 class="fourthH centerStyle">Reach Us</h5>

      <ul class="contact-info">
        <li>
          <a class="locationLink" target="_blank" href="https://maps.app.goo.gl/zc48Pg8Y3M567FDj6"><i class="fa-solid fa-location-dot" aria-hidden="true"></i>123 Health Street, New York, USA</a>
        </li>
        <li>
          <a href="tel:+1 800 555 9876"><i class="fa-solid fa-mobile-screen-button" aria-hidden="true"></i> +1-800-555-9876</a>
        </li>
        <li>
          <a class="emailAnchor" href="mailto:support@biolabdemo.com"><i class="fa-solid fa-envelope" aria-hidden="true"></i>support@biolabdemo.com</a>
        </li>
      </ul>
      <div class="social-icons mt-3">
        <a class="facebook" href="#"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
        <a class="instagram" href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        <a class="whatsapp set-url-target" rel="noopener" data-mobile-target="" data-desktop-target="_blank" target="_blank" href="https://web.whatsapp.com/send?phone=918103905625"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>